<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zly.mapper.TbSeckiilSuccessMapper" >
  <resultMap id="BaseResultMap" type="com.zly.pojo.TbSeckiilSuccess" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="si_id" property="siId" jdbcType="BIGINT" />
    <result column="o_id" property="oId" jdbcType="BIGINT" />
  </resultMap>
</mapper>